body {
  font-family: "Open Sans", sans-serif;
  background: #f6ebed;
  color: #706565;
  margin: 0;
  padding: 0;
}

a {
  color: #a81414af;
  text-decoration: none;
}

a:hover {
  color: #a90808;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}
h5{
  padding: 10px 0;
}
#main {
  padding: 0 50px;
  /* background-color: #012970; */
}

.logo img {
  max-height: 110px;
  margin-right: 6px;
  padding: 10px 0;
}

/* dashboard */
.user_dash{
  /* background-color: #012970; */
  width: 1000px;
  margin: 0 15% 40px 20px;
}
.main a, .user_dash a{
  text-decoration: none;
  color: #ce7070;
}

.dashboard{
  margin-right: 50px;
}

.dashboard .top_sell{
  margin-top: 100px;
}

/* Cards */
.card-title{
  padding: 10px;
  margin: 10px;
}
 .info-card {
  padding-bottom: 10px;
}

.info-card h6 {
  font-size: 28px;
  color: #012970;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.section-header .plus{
  float: right;
  font-size: 3rem;
}
 .card-icon {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}

 .sales-card .card-icon {
  color: #4154f1;
  background: #f6f6fe;
}

.dashboard .revenue-card .card-icon {
  color: #2eca6a;
  background: #e0f8e9;
}

.dashboard .customers-card .card-icon {
  color: #ff771d;
  background: #ffecdf;
}

/* menu */

.dashboard .top-selling {
  font-size: 14px;
  /* background-color: #012970; */
  padding-left: 30px;
}

.dashboard .top-selling .table {
  background: #f6f6fe;
  box-shadow: 5px 5px 6px rgb(76, 24, 24);
}

.dashboard .top-selling img {
  border-radius: 5px;
  max-width: 50px;
}

.footer{
  padding: 20px 0;
  font-size: 14px;
  border-top: 1px solid #ffcdcd;
}

.footer .copyright {
  text-align: center;
  color: #700101;
}

/* add menu */
/* food form */

h1{
  font-size: 3rem;
  color: #192655;
  text-align: center;
}
p{
  color: #192655;
  font-size:1rem;
  text-align: center;
}
.d-flex{
  display:flex;
}

.food-form{
  margin:10px 0 50px 270px;
}

.food-form .form{
  border: 2px solid brown;
  padding: 50px;
  width:700px;
  margin:0px auto;
}
input{
  width: 70%;
  padding: 12px 8px;
  display: inline-block;
  border-radius: 10px;
  background: transparent;
}

label{
  padding: 20px 0;
  font-weight: 800;
  font-size: medium;
  size: 2rem;
  margin-left: 12px;
}

.login-btn_add{
  background-color: #891414;
  color: #ffdcdc;
  border: 2px solid #502809;
  border-radius: 10px;
  width: 30%;
  float: right;
  font-size: 1rem;
  font-weight: 700;
  padding: 18px 0;
  margin-top: 50px;
  margin-right: 100px;
}

.login-btn{
  background-color: rgba(121, 29, 15, 0.932);
  border: 2px solid rgba(135, 23, 3, 0.571);
  color: #FFEADD;
  border-radius: 10px;
  float: right;
  font-size: 1rem;
  font-weight: 700;
  padding: 18px 190px;
  padding-right: 250px;
  margin-top: 20px;
  margin-right: 65px;
}

.login-btn_add:hover, .login-btn:hover{
  background-color: #d48950;
  color: #1F1717;
  border: 2px solid #eda873;
  font-weight: 700;
}

.food-form img{
  padding: 0;
  margin: 0;
}

/* update */
.food_edit_form{
  /* border: 2px solid brown; */
  /* padding: 50px 22px 0;
  padding-right: 20px;
  
  padding-bottom: 100px; */
  margin: 20px 20% 50px;
  /* background-color: #012970; */
}

.main_page{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* sidebar */

body{
  margin: 0;
}

.nav-item{
  padding-inline: 12px;
  justify-content: space-between;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.drop-items{
  display: none;
  position: absolute;
  background-color: #9A3B3B;
  min-width: 130px;
  overflow: auto;
  box-shadow: 0px 10px 16px 0px rgba(206, 69, 69, 0.2);
  z-index: 1;
}

.drop-btn{
  background-color:#f9e2d5;
  border-style: none;
  font-weight: 200;
  font-size: 1.2rem;
  color: #9A3B3B;
  display: flex;
  align-items: center;
  justify-content: center;
}


.sidebar{
  background-color: #b16434;
  padding: 20px;
  overflow: hidden;
}

.sidebar a, nav a{
  color: rgb(242, 224, 224);
  font-size: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  padding: 15px 10px 15px 23px;
  /* border: 2px #fddfce solid; */
  margin: 0;
  box-sizing: border-box;
}
.sidebar a:hover{
  background-color:rgb(251, 227, 227);
  /* padding-right: 100px; */
  padding-left: 23px;
  margin: 0;
  box-shadow: 1px 1px 5px rgb(209, 155, 155);
}
.sidebar a:active{
  background-color: rgb(248, 126, 126);
  color: #fff;
  /* padding-right: 255px; */
  padding-left: 23px;
  margin: 0;
}

a{
  text-decoration: none;
}

.cross{
  font-size: 1.5rem;
  padding: 0;
  border: 0;
  margin: 10px 0 20px 20px;
  background-color: #fbd9c6;
}
nav{
  /* width: 20%; */
  background-color: #F4DFB6;
  /* position: fixed; */
  padding:10px 20px;


}
nav .search{
  border: 2px #531f01 solid;
  border-radius: 20px;
  width: 140%;
  font: 1rem;
  margin: 20px 0;
  padding: 8px 90px 10px 20px;
}

.srch_btn{
  border: 0;
  background-color: #f9e2d5;
}

nav .pro{
  margin-left: 600px;
  margin-top: 30px;
}
nav img{
  height: 80px;
}
.Profile{
  height: 40px;
  font-size: 1rem;
}
.Profile span{
  padding: 0 10px;
}
/* order */
.order-form{
  border:1px solid #531f01;
  padding: 8px 20px;
  width: 600px;
  margin: 20px 40%;

}
.order-form img{
  height: 200px;
  margin: 10px 30%;
}

.login-btn{
  background-color: #F4BF96;
  color: #1F1717;
  border: 1px solid #F4BF96;
  border-radius: 10px;
}

.login-btn:hover{
  background-color: rgba(204, 42, 13, 0.571);
  color: #FFEADD;
  font-size: medium;
}